@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
body{
  background-color: rgb(164, 234, 255);
  margin: 20px;
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}
header{

  display: flex;
  height: 61px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.25);
  }
.logo{
  width: 40px;
  height: 40px;
  margin: 10px 0 0 10px;
}
.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-around;
  align-items:  center;
  margin-top: 20px;
}
.menu-elements{
  color: #09151e;
  text-align: center;
  font-size: 18px ;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px;
}


.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-image: url('src/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #1c0f95;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 300px;
  border: 1px solid #293873;
  border-radius: 10px;
  overflow: hidden;
  background-color: #6e8fd0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

.card-img {
  width: 100%;
  height: auto;
}

.price-btn {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #00eaff;
  color: rgb(13, 49, 19);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.price {
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

footer{
  background-color: #9b9be7;
}